<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
  <div class="container theme-showcase" role="main">
    <div class="jumbotron" align="center">
      <h1 align="left">University Dashboard</h1>
      <form method='post' action=''>
        <table>
          <tr>
            <th>
              <span for="firstDate">Start date</span>
            </th>
            <th>
              <input name="reqDateFirst" type="date" value="firstDate">
            </th>
          </tr>
          <tr>
            <th>
              <span for="secondDate">End date</span>
            </th>
            <th>
              <input name="reqDateSecond" type="date" value="secondDate">
            </th>
          </tr>
        </table>
        <br>
        <div align="left" style="margin-left: 40%;">
          <input type="radio" id="radio-box1" name="radio" value="archive_excels">
          <label for="radio-box1">Download EXCEL files per day</label>
          <br>
          <input type="radio" id="radio-box2" name="radio" value="one_excel">
          <label for="radio-box2">Download one EXCEL file</label>
          <br>
          <input type="radio" id="radio-box3" name="radio" value="show" checked>
          <label for="radio-box3">Show list here</label>
        </div>
        <br>
        <div align="center">
          <button type='submit' class="btn btn-lg btn-success">Click</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
</html>

>
</body>
</html>
</html>

